<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Example App</title>
</head>
<body>

    {{{body}}}



<script>

    function process(data) {
        console.log(JSON.stringify(data, 2, null))
    }

</script>
</body>
</html>